<form method="POST" action="/wish/{{wish.id}}/field/create">
    <tr>
        <td>
            <div class="form-group mt-2">
                <input id="name" name="name" class="form-control" type="text" placeholder="np. rozmiar, kolor">
            </div>
        </td>
        <td>
            <div class="form-group mt-2">
                <input id="value" name="value" class="form-control" type="text" placeholder="np. S/M, czerwony">
            </div>
        </td>
        <td>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">+</button>
            </select>
        </td>
    </tr>
</form>