<form method="POST" action="/list/create">
    <div class="modal-body">
        <div class="form-group mt-2">
            <label class="small" for="name">Nazwa</label>
            <input id="name" name="name" class="form-control" type="text" maxlength="40" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</form>