<form method="POST" action="/list/{{wishlist.id}}/subscription/create">
    <tr>
        <td>
            <div class="form-group mt-2">
                <input id="name" name="userEmail" class="form-control" type="email" placeholder="Wpisz email innego użytkownika">
            </div>
        </td>
        <td>
        </td>
        <td>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">+</button>
            </select>
        </td>
    </tr>
</form>