<div 
    class="modal modal-dialog-scrollable fade" 
    id="editWishModal_{{wish.id}}" 
    tabindex="-1" 
    aria-labelledby="modalLabel" 
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edytuj życzenie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ include("wish/parts/edit/edit-form.html.twig") }}
        </div>
    </div>
</div>