<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WishMe{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script>
                var user = {{ user|raw }};
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="app">
            <router-view></router-view>
        </div>
    </body>
</html>