<table class="table">
    <thead>
        <th scope="col">Email</th>
        <th scope="col">Rola</th>
        <th scope="col"></th>
    </thead>

    <tbody>
        {% for subscription in wishlist.subscriptions %}
            {{ include("wishlist/subscription/parts/list/list-element.html.twig") }}
        {% endfor %}
        {% if app.user != null and wishlist.isOwner(app.user) %}
            {{ include("wishlist/subscription/parts/create/create-form.html.twig") }}
        {% endif %}
    </tbody>
</table>